HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Back end
application-local.yml
docker-compose-local.yml
protobuf/generator

# Front end
# Common library
frontend/Com.Example.Common/bin
frontend/Com.Example.Common/obj

# Game
frontend/Com.Example.Game/.import
frontend/Com.Example.Game/.mono
frontend/Com.Example.Game/packages
frontend/Com.Example.Game/.vs
*.user
*.old

